<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=800px, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="psblock.css">
</head>
<body>

<div class="container">
  <header>
    <span class="left">Some guff about the author, date, repo etc.</span>
    <span class="right">Link or two here</span>
  </header>

  <div class="inner">
    <div class="inner-inner">
      <h1>Purescript D3 Block: <span>#1</span></h1>

      <svg class="svg"></svg>
      <div class="description">
        <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem mollitia natus et illum a quaerat magnam vero! Accusamus, libero ab debitis. Quisquam, suscipit architecto dolorum quo velit necessitatibus explicabo hic.</p>

        <a target="_blank" title="Open Block 4063269 a new window." href="">Open <svg height="16" width="12"><path d="M11 10h1v3c0 0.55-0.45 1-1 1H1c-0.55 0-1-0.45-1-1V3c0-0.55 0.45-1 1-1h3v1H1v10h10V10zM6 2l2.25 2.25-3.25 3.25 1.5 1.5 3.25-3.25 2.25 2.25V2H6z"></path></svg></a>
      </div>

      <h2>Code:</h2>
      <div class="code">
        <pre>
        header span {
          padding: 10px;
        }

        header .left {
          float: left;
        }

        header .right {
          float: right;
        }

        .block-header {
          width: 80%;
        }

        .block-header h1 {
          color: anthracite;
          font-size: 2.2em;
          font-family: sans-serif;
          margin-bottom: 5px;
        }
        </pre>
      </div>

      <h2>Data:</h2>
      <div class="data">
        <pre>
        {
         "name": "flare",
         "children": [
          {
           "name": "analytics",
           "children": [
            {
             "name": "cluster",
             "children": [
              {"name": "AgglomerativeCluster", "size": 3938},
              {"name": "CommunityStructure", "size": 3812},
              {"name": "HierarchicalCluster", "size": 6714},
              {"name": "MergeEdge", "size": 743}
             ]
            },
        </pre>
      </div>      
    </div>

    <footer><small>Copyleft 2016 etc etc</small></footer> 
  </div>

</div>

</body>
</html>
